alabaster==0.7.12
aniso8601==9.0.1
anki @ file:///build/anki/src/anki/dist/anki-2.1.35-py3-none-any.whl
ankirspy @ file:///build/anki/src/anki/dist/ankirspy-2.1.35-cp39-cp39-manylinux1_x86_64.whl
anyio==2.2.0
apparmor==3.0.1
appdirs==1.4.4
application-utility==1.3.2
apsw==3.35.4.post1
aqt @ file:///build/anki/src/anki/dist/aqt-2.1.35-py3-none-any.whl
arandr==0.1.10
argcomplete==1.12.3
argon2-cffi==20.1.0
asgiref==3.3.4
asn1crypto==1.4.0
async-generator==1.10
asyncio==3.4.3
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
bauh==0.9.16
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bleach==3.3.0
boto==2.49.0
Brlapi==0.8.2
btrfsutil==5.12
CacheControl==0.12.6
cachelib==0.2.0
cchardet==2.1.7
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==5.0.1
colormap==1.0.3
colorz==1.0.3
constantly==15.1.0
contextlib2==0.6.0.post1
crcmod==1.7
cryptography==3.4.7
css-parser==1.0.6
cssselect==1.1.0
cycler==0.10.0
decorator==5.0.7
defusedxml==0.7.1
deluge==2.0.4.dev56
deprecation==2.1.0
distlib==0.3.1
distro==1.5.0
Django==3.2
djangorestframework==3.12.4
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
easydev==0.11.1
email-validator==1.1.3
entrypoints==0.3
fasteners==0.16
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.8
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-RESTful==0.3.8
flask-restplus==0.13.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.18.2
gcs-oauth2-boto-plugin==2.7
GeoIP==1.3.2
google-apitools==0.5.32
google-reauth==0.1.1
greenlet==1.0.0
gsutil==4.62
guake==3.7.0
gufw==21.4.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.19.1
hyperlink==21.0.0
idna==3.1
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==4.0.1
incremental==21.3.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isc==2.0
iso8601==0.1.14
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.9.2
jupyter-server==1.6.4
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.0
kiwisolver==1.3.1
lensfun==0.3.95
lib==3.0.0
LibAppArmor==3.0.1
libfdt==1.6.0
louis==3.17.0
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mechanize==0.4.5
mistune==0.8.4
mock==2.0.0
monotonic==1.6
mpld3==0.5.2
msal==1.12.0
msgpack==1.0.2
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.9
netsnmp-python==1.0a1
networkx==2.5.1
notebook==6.3.0
npyscreen==4.10.5
numpy==1.20.1
oauth2client==4.1.3
opencv-python==4.5.3.56
optimus-manager==1.4
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.5.2/target/wheels/orjson-3.5.2-cp39-cp39-manylinux2010_x86_64.whl
packaging==20.9
pacman-mirrors==4.21.2
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pbr==5.6.0
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
ply==3.11
progress==1.5
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
py7zr==0.11.3
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.20.0
pychm==0.8.6
pycparser==2.20
pycryptodome==3.10.1
pyenchant==3.2.0
pygame==2.0.1
Pygments==2.9.0
PyGObject==3.40.1
PyHamcrest==1.10.0
PyJWT==2.0.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
pyrsistent==0.17.3
pyserial==3.5
pysmbc==1.0.23
PySocks==1.7.1
python-dateutil==2.8.1
python-libtorrent==1.2.11
python-xapp==2.0.2
python-xlib==0.29
PyTMX==3.24
pytz==2021.1
pyu2f==0.1.5
pywal==3.3.0
pywalfox==2.7.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
regex==2021.4.4
rencode==1.0.6
reportlab==3.5.67
reports==0.3.1
requests==2.25.1
resolvelib==0.5.4
retry-decorator==1.1.1
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
rst2pdf==0.98
scipy==1.6.3
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.2.2
six==1.16.0
smartypants==2.0.1
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2.1
speedtest-cli==2.1.3
Sphinx==3.5.4
sphinx-intl==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mscgen==0.6
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==7.2.1
sphinxcontrib-tikz==0.4.13
SQLAlchemy==1.4.1
sqlparse==0.4.1
tabulate==0.8.9
team==1.0
terminado==0.9.4
testpath==0.4.4
texttable==1.6.3
toml==0.10.2
tomlkit==0.7.0
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
ueberzug==18.1.9
ufw==0.36
unrardll==0.1.4
urllib3==1.26.4
vboxapi==1.0
virtualenv==20.4.3
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
zeroconf==0.29.0
zipp==3.4.1
zope.interface==5.4.0
